################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AnalisadorLéxico/.vs/AnalisadorLéxico/v15/Server/sqlite3
